/*-------------------------------------------------------------
/* Font setup */
/*-------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Import the stylesheet for the font from the Google Fonts library */

/* Font setting */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #21130d;
    /* Set the font for the headings and the body text of the document */
}

/*-------------------------------------------------------------
/* Color setup */
/*-------------------------------------------------------------*/

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Background set to be full screen and positioned below all content */
}

/* All the classes below are for different sections in the site, they are set to have different backgrounds */

.home-background {
    background: url('/static/icons/landingpage_ecohotel.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Setting background image to cover entire element for the home section */
}

.insert_energy-background {
    background: url('/static/icons/sfondo_link_insdati.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Setting background image to cover entire element for the insert energy section */
}

/* This pattern is repeated for the other classes (access_control-background, energy_totals-background, energy-background, logout-background, login-background) */

.navbar {
    background-color: transparent !important; /* Use !important to override any other CSS rules */
    box-shadow: none; /* Remove shadow */
    border: none; /* Remove border */
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    /* Set padding, display and space distribution between items in the navbar */
}

.navbar-brand {
    margin-right: auto;
    /* Set the right margin for the logo in the navbar */
}

.navbar-nav {
    margin-left: auto;
    /* Set the left margin for the items in the navbar */
}

.navbar-nav .nav-link {
    margin-right: 41px;
    font-size: 16px;
    font-weight: bold;
    /* Set the right margin and font size for the links in the navbar */
}

/* Style for the active link in the navbar is set in the following classes (navbar-nav .nav-item.active .nav-link, navbar-nav .nav-item:nth-child(1).active .nav-link::before, navbar-nav .nav-item:nth-child(2).active .nav-link::before, navbar-nav .nav-item.active .nav-link::before, navbar-nav .nav-item.active .nav-link .custom-button:hover) */

.container {
    max-width: 960px;
    margin: auto;
    text-align: center;
    /* Set the maximum width, margin and text alignment for the containers */
}

.table {
    width: 100%;
    color: #212529;
    /* Set the width, bottom margin and text color for tables */
}

/* The table-container and table-container-energy classes set the maximum height and vertical scroll for the table container */

/* The following classes (.table th, .table td, table tr:last-child td, .energy_totals tbody tr:last-child th) set the padding, vertical alignment and bottom border style for table elements */

.truncate-text {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Text truncation styling */
}

.copy-text {
  cursor: pointer;
  /* Cursor turns into pointer (hand) on hover, indicating clickable text */
}

.btn {
    color: #000000;
    background-color: #B7EF83;
    border: none;
    text-decoration: none;
    /* Set the padding, background and text colors, borders and text decoration for buttons */
}

.btn:hover {
    background-color: #63E432;
    /* Set the background color when the cursor hovers over the buttons */
}

/* The following classes (.custom-button, .custom-button::before, .custom-button:hover::before) define the styling for a custom button, its hover effect and a pseudo-element before the button */

.alert {
    padding: 20px;
    color: #fff;
    background-color: #f44336;
    margin-bottom: 15px;
    /* Set the padding, background and text colors, and bottom margin for alerts */
}

.custom-margin {
  margin-top: 70px; /* Set the desired top margin */
}

.title {
  margin-bottom: 70px;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Styling for the login container */
}

.login-container .login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    /* Styling for the login form within the login container */
}

.login-container h2 {
  font-size: 2em;
  color: #162938;
  margin-bottom: 70px;
  margin-top: 0; /* Remove top spacing for the title */
}

.login-container .login-form h2 {
    font-size: 2em;
    color: #162938;
    margin-top: -10px; /* Add a top spacing to separate the title from the form */
}

.form-group {
    width: 100%;
    height: 70px;
}

.login-container .form-group {
  transform: translateY(-30px);
}

.copy-text {
  cursor: pointer;
  text-decoration: underline;
}

.copy-text:hover {
  color: blue;
  /* Styling for the text to be copied, underline it and change its color to blue on hover */
}
